<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Listing</h3>

     <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
<div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" value="<%= listing.title %>" required/>
         <div class="invalid-feedback">
    Title is required
  </div>
    </div>
<div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" 
        type="text" class="form-control" required><%= listing.description %> </textarea>
         <div class="invalid-feedback">
    Description is required
  </div>
  
  </div>
  <div class="mb-3">
    <img src="<%= originalimage %>" class="img-fluid" style="max-height:200px;" alt="listing_image">
  </div>
        <div class="mb-3">
        <label for="image" class="form-label" >Image</label>
         <input name="listing[image][url]" 
         type="file" class="form-control" />
          

    </div>      
    <div class="mb-3">
      <label class="form-label">Category</label>
      <select name="listing[category]" class="form-control">
        <option>Trending</option>
        <option>Rooms</option>
        <option>Mountains</option>
        <option>Castles</option>
        <option>Iconic Cities</option>
        <option>Amazing Pools</option>
        <option>Camping</option>
        <option>Farms</option>
        <option>Snow</option>
        <option>Domes</option>
        <option>Boats</option>
      </select>
</div> 
       <div class="row">
    <div class="mb-3 col-md-4"> 
        <label for="price" value="<%= listing.price %>" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Enter price" type="number" value="<%= listing.price %>" class="form-control" required/>
         <div class="invalid-feedback">
    Price is required
  </div>
    </div>

    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>   
        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" value="<%= listing.country %>" required/>
         <div class="invalid-feedback">
    Country is required
  </div>
    </div>
    </div>
<div class="mb-3">
        <label for="location" class="form-label" >Location</label>
        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" class="form-control" value="<%= listing.location %>" required/>
         <div class="invalid-feedback">
    Location is required
  </div>
</div>
     <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>
</div>
</div>
